<div class="container" style="margin-top:50px">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]= 'name'>
      </div>
      <div class="form-group col-md-6">
        <label>Date Of Birth</label>
        <input type="date" class="form-control" placeholder="Date Of Birth" [(ngModel)]='birthday'>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]='email'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" [(ngModel)]='password'>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>City</label><br>
        <select style="width:100%" [(ngModel)]='filterDictrict' (click)="check_City();">
          <option value="Da_Nang">Da Nang</option>
          <option value="Ho_Chi_Minh">Ho Chi Minh</option>
          <option value="Ha_Noi">Ha Noi</option>
        </select>
      </div>
      <div *ngFor="let e of arrDaNang">
        <p>{{ e.dictrict }}</p>

      </div>
      <!-- <div class="form-group col-md-6" *ngFor="let e in arrDaNang">
          {{ e.dictrict }}
        <label>Dictrict</label><br>
        <select name="" id="" style="width:100%" [(ngModel)]='select_dictrict'>
            <option *ngFor = "let e in arrDaNang">
              {{ e.dictrict }}
            </option>
        </select>
      </div> -->
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>